{% extends 'admin/adminBase.html.twig' %}

{% block title %}Hello OutputController!{% endblock %}

{% block right %}
    <div class="row">
        <div class="col-6">
            <a href="{{ path('output_new') }}">Ajouter une analyse</a>
            <hr>
            {% if outputs is not empty %}
                {% for ouput in outputs %}
                    Lieu: {{ ouput.location }} <br>
                    Phase: {{ ouput.zone.category.name }} <br>
                    <hr>
                {% endfor %}
            {% else %}
                Aucune analyse
            {% endif %}
        </div>
        <div class="col-4">
            toto
        </div>
    </div>
{% endblock %}