<div class="row">
    Lieu de l'analyse:
    {{ output.location }} <br>
    Date:
    {{ output.date|format_date }} <br>
    Phase:
    {{ output.zone.name }} <br>
    Chantier:
    {{ output.zone.site.name }} <br>
</div>