{% extends 'admin/adminBase.html.twig' %}

{% block title %}
    Admin Matériels
{% endblock %}

{% block right %}
    Matériels index <a href="{{ path('equipment_new') }}">Ajouter un matériel</a>
    <ul>
        {% if equipments is not empty %}
            {% for equipment in equipments %}
                <li>{{ equipment.id }} - {{ equipment.name }}<a href="{{ path('equipment_edit',{'id':equipment.id}) }}">Editer</a></li>
            {% endfor %}
        {% else %}
            Aucun matériels d'enregistré
        {% endif %}
    </ul>
{% endblock %}