<div class="row">
    Lieu de l'analyse:
    {{ removal.location }} <br>
    Date:
    {{ removal.date|format_date }} <br>
    Phase:
    {{ removal.zone.category.name }} <br>
    Chantier:
    {{ removal.zone.site.name }} <br>
</div>