{% extends 'admin/adminBase.html.twig' %}

{% block title %}Hello InitialController!{% endblock %}

{% block right %}
    <div class="row">
        <div class="col-6">
            <a href="{{ path('initial_new') }}">Ajouter un point zéro</a>
            <hr>
            {% for initial in initials %}
                Lieu: {{ initial.location }} <br>
                Phase: {{ initial.zone.category.name }} <br>
                <hr>
            {% endfor %}        </div>
        <div class="col-4">
            toto
        </div>
    </div>
{% endblock %}