<select class="form-control" name="phase-select" id="phase-select">
    <option value="">--Choisir une zone--</option>
    {% for item in list %}
        <option value="{{ item.category.id }}">{{ item.category.id }} - {{ item.category.name }}</option>
    {% endfor %}
</select>