<div class="row">
    Lieu de l'analyse:
    {{ initial.location }}<br>
    Date:
    {{ initial.date|format_date }} <br>
    Phase:
    {{ initial.zone.name }} <br>
    Chantier:
    {{ initial.zone.site.name }} <br>
</div>