<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}Welcome !{% endblock %}
    </title>

    <!-- CSS here -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            {% include 'admin/nav.html.twig' %}
        </div>
        <div class="col-9">
            <br>
            {% block right %}
            {% endblock %}
        </div>
    </div>
</div>
{% block body %}
{% endblock %}
<!-- JS here -->

<!-- Jquery, Popper, Bootstrap -->
<script src="{{ asset('assets/js/vendor/jquery-1.12.4.min.js') }}"></script>
<script src="{{ asset('assets/js/popper.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
{% block script %}
{% endblock %}
</body>
</html>