{% extends 'admin/adminBase.html.twig' %}

{% block title %}
    Admin catégories
{% endblock %}

{% block right %}
    Catégories index - <a href="{{ path('category_new') }}">Ajouter une catégorie</a>
    <ul>
        {% if categories is not empty %}
            {% for categorie in categories %}
                <li>{{ categorie.id }} - {{ categorie.name }}<a href="{{ path('category_edit',{'id':categorie.id}) }}">Editer</a></li>
            {% endfor %}
        {% else %}
            Aucune catégorie d'enregistrée
        {% endif %}
    </ul>
{% endblock %}