{% extends 'admin/adminBase.html.twig' %}

{% block title %}
    Index des catégories
{% endblock %}

{% block right %}
    <div class="container-fluid">
        <div class="row m-3" style="height: 10vh">
            <div class="col-12 text-center">
                <h1>Index des catégories</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <a href="{{ path('category_new') }}">Ajouter une catégorie</a>
            {% if categories is not empty %}
                <table class="table">
                    <thead>
                    <tr>
                        <td>Nom</td>
                        <td>Type</td>
                        <td>Gérer</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for categorie in categories %}
                    <tr>
                        <td>{{ categorie.name }}</td>
                        <td>{{ categorie.type }}</td>
                        <td>
                            <a href="{{ path('category_edit',{'id':categorie.id}) }}">Editer</a>
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            {% else %}
                Aucune catégorie d'enregistrée
            {% endif %}
        </div>
        <div class="col-4">
            toto
        </div>
    </div>
{% endblock %}